.banner {
    background-color: var(--white);
    position: relative;
}

.banner-img-container {
}

.banner img {
    width: 100%;
    object-fit: cover;
    min-height: 400px;
}

.banner-description {
    position: absolute;    
    top: 0;
    right: 0;
    width: 400px;
    margin-top: 160px;    
    margin-right: 140px;
}

.banner-description p {
    font-size: 24px;
    color: var(--white);
}

.banner-description button {
    font-size: 14px;
    height: 32px;
    padding: 4px 8px;
    margin-top: 24px;
    border: none;
    color: var(--white);
    background-color: var(--orange);
    box-sizing: border-box;
    opacity: 1;
    transition: opacity 0.2s ease;
}

.banner-description button:hover {
    opacity: 0.9;
}

@media all and (max-width: 1200px) {
    .banner-description {
        margin-top: 120px;
    }

    .banner-description p {
        
    }

    .banner-description button {
        
    }
}

@media all and (max-width: 992px) {
    .banner img {
        min-height: 300px;
    }

    .banner-description {
        margin-right: 40px;
    }

    .banner-description p {
        
    }

    .banner-description button {
        
    }
}

@media all and (max-width: 767px) {
    .banner img {
        min-height: 200px;
    }

    .banner-description {
        width: 300px;
        margin-top: 40px;
        margin-right: 20px;
    }

    .banner-description p {
        font-size: 24px;
    }

    .banner-description button {
        
    }
}

@media all and (max-width: 576px) {
    .banner img {
        min-height: 100px;
    }

    .banner-description {
        margin-top: 20px;
        width: 220px;
    }

    .banner-description p {
        font-size: 16px;
    }

    .banner-description button {
        font-size: 14px;
        height: 32px;
        padding: 4px 8px;
        margin-top: 16px;
    }
}

@media all and (max-width: 480px) {
    .banner img {
    }

    .banner-description {
        margin-top: 16px;
        width: 200px;
    }

    .banner-description p {
    }

    .banner-description button {
        margin-top: 4px;
    }
}

@media all and (max-width: 400px) {
    .banner img {
    }

    .banner-description {
        margin-top: 0;
        width: 160px;
    }

    .banner-description p {
        font-size: 14px;
    }

    .banner-description button {
        margin-top: 8px;
        font-size: 12px;
    }
}