.main-header-moving {
	position: fixed;
	width: 100%;
	z-index: 2024;
    box-sizing: border-box;
    width: 100%;
	background-color: var(--white);
}

.moving {
	background-color: transparent !important;
	margin-top: 0 !important;
}

.moving-header {
	z-index: 4000;
	margin-top: 0 !important;
}

.moving-header-h2 {
	font-size: 28px;
}

.cart-length-moving {
    top: 12px !important;
}

@media all and (max-width: 540px) {
	.moving-header-h2 {
		display: none;
	}
}