:root {
    --main-bg-color: rgb(130, 188, 75);
    --main-bg-color-dark: rgb(130, 178, 75);
    --orange: rgb(249, 166, 40);
    --white: rgb(253, 251, 253);
    --black: rgb(68, 68, 69);
    --gray: rgb(236, 237, 237);
    --dark-gray: rgb(187, 197, 191);
    --purple: rgb(113, 0, 236);
}