@import '_vars';

.banner {
    background-color: var(--white);
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    min-height: 360px;
    max-height: 360px;
    padding: 40px 24px;
    margin: 20px 12px 12px;
    box-sizing: border-box;
}

.banner-right-side {
    box-sizing: border-box;
}

.banner-right-side img {
    text-align: center;
    border-radius: 12px;
    width: 360px;
    transform: scale(-1, 1);
}

.banner-left-side-container {
    display: flex;
    height: 360px;
    flex-direction: column;
    justify-content: space-between;
}

.banner-left-side {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 360px;
    padding: 40px 0;
    margin: 20px 12px 12px;
    box-sizing: border-box;
}

.banner-left-side h2 {
    margin: 0;
    font-size: 48px;
    font-weight: 800;
}

.banner-eslogan{
    font-weight: 400;
    margin: 0;
}

.banner-left-side button {
    box-shadow: 4px 4px 0px 0px rgb(249 166 40 / 30%);
    display: flex;
    align-items: center;
    color: var(--white);
    background-color: var(--orange);
    border: none;
    padding: 8px;
    height: 36px;
    cursor: pointer;
    width: 104px;
    margin-top: 4px;
    transition: .3s padding;
}

.banner-left-side button:hover {
    padding: 12px;
}

.banner-border {
    display: none;
}

@media all and (max-width: 812px) {
    .banner-left-side {
        display: flex;
        justify-content: space-around;
        height: 360px;
        padding: 40px 0;
        margin: 20px 32px 12px;
        box-sizing: border-box;
        width: 445px;
        position: absolute;
        left: 0;
    }
}

@media all and (max-width: 768px) {
    .banner-border {
        display: block;
        border: 1px solid var(--gray);
        width: 100%;        
    }
    .banner {
        display: flex;
        justify-content: space-between;
    }
    .banner-left-side {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 40px 0;
        margin: 20px 32px 12px;
        box-sizing: border-box;
    }
    .banner-right-side img {
        text-align: center;
        border-radius: 12px;
        width: 320px;
        padding-top: 20px;
        box-sizing: border-box;
    }
}

@media all and (max-width: 540px) {
    .banner {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        min-height: 100vh;
        max-height: 100vh;
        margin: 20px 12px 12px;
        padding: 0;
        background-color: var(--white);
        box-sizing: border-box;
    }
    
    .banner-left-side {
        display: flex;  
        justify-content: space-evenly;
        box-sizing: border-box;
        width: 100%;
        height: 50vh;
        padding: 0 48px;
        margin: 0;
    }

    .banner-right-side {
        height: 50vh;
    }

    .banner-right-side img {
        width: 100%;
    }

}

@media all and (max-width: 460px) {
    .banner-right-side img {
        width: 100%;
    }
}

@media all and (max-width: 420px) {
    .banner-border {
        display: none;
    }
    .banner-left-side-container {
        padding: 0 24px;
    }
}

@media all and (max-width: 360px) {
    .banner {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
    
    .banner-left-side {
        padding: 0 24px;
    }
}