.CartItem-container {
	color: var(--black);
	height: 80px;
	width: 100%;
	margin-top: 24px;
	margin-bottom: 24px;
}

.CartItem {
	display: flex;
}

.CartItem-left {
	display: flex;
	width: 50%;
}

.CartItem-img {
	height: 80px;
	width: 80px;
	max-width: 50%;
}

.CartItem-description {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 4px 0px 4px 20px;
	width: 50%;
}

.CartItem-description button {
	cursor: pointer;
}

.CartItem-description h4 {
	margin: 0;
}

.CartItem-description p {
	color: var(--main-bg-color);
}

.CartItem-description button {
	display: flex;
	border: none;
	background-color: transparent;
	padding-left: 0;
	font-family: 'Dosis', sans-serif;
	font-weight: 600;
	font-size: 12px;
	color: var(--dark-gray);
}

.CartItem-description-right {
	display: flex;
	justify-content: space-between;
	width: 50%;
	height: 80px;
	align-items: flex-start;
}

.CartItem-amount {
	width: 33.3%;
	box-sizing: border-box;
}

.CartItem-amount svg {
	cursor: pointer;
}

.CartItem-minus {
	margin-right: 8px;
}

.CartItem-amount input {
	text-align: center;
	background-color: var(--white);
	border: 1px solid var(--dark-gray);
	width: 24px;
	box-sizing: border-box;
	user-select: none;
}

.CartItem-amount input::selection {
  background-color: var(--white);
  color: var(--black);
}

/* oculta los controles de número */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	user-select: none;
	-webkit-appearance: none;
	margin: 0;
}

/* oculta la flecha de incremento en Firefox */
input[type=number] {
	-moz-appearance: textfield;
}

.CartItem-plus {
	margin-left: 8px;
}

.CartItem-description-right {
	text-align: right;
}

.CartItem-description-right p {
	color: var(--black);
	font-weight: 600;
	width: 33.3%;
}

@media all and (max-width: 800px) {
	.CartItem-amount {
		display: flex;
	    justify-content: center;
	    align-items: center;
	}
}

@media all and (max-width: 756px) {
	.CartItem-container {
		height: auto;
		margin-bottom: auto;
	}

	/*LEFT-SIDE*/

	.CartItem {
		display: flex;
    	flex-direction: column;
		align-items: center;
		height: auto;
	}

	.CartItem-left {
		justify-content: space-between;
		width: 60%;
	}

	.CartItem-description-right {
		width: 60%;
    	align-items: center;
	}

	.CartItem-amount {
	    display: flex;
	    width: auto;
	    align-items: center;
	}

}

@media all and (max-width: 550px) {
	.CartItem-left {
		width: 100%;
	}

	.CartItem-left {
		display: flex;
		justify-content: space-between;
		width: 80%;
	}

	.CartItem-description-right {
		width: 80%;
	}

}

@media all and (max-width: 400px) {
	.CartItem-left {
		display: flex;
		justify-content: space-between;
		width: 100%;
	}

	.CartItem-description-right {
		width: 100%;
	}
}