@import '_vars';

.categories-card-container {
	border-radius: 12px;
	height: 200px;
	background-color: var(--white);
	cursor: pointer;
	margin: 8px 8px;
	transition: 200ms background-color;
}

.categories-card-container:nth-child(-3n+9) {
	margin-right: 0px;
}

.categories-card-container:nth-child(-1n+9) {
	margin-left: 0px;
}

.categories-card-container:hover {
	background-color: var(--orange);
	color: var(--white) !important;
}

.categories-card-container:hover p {
	color: var(--white) !important;

}

.categories-card {
	display: flex;
	height: 200px;
}

.categories-card-top {

}

.categories-card-top img {
	object-fit: cover;
	border-radius: 12px;
	width: 150px;
	height: 200px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.categories-card-bottom {
	display: flex;
    margin-left: 12px;
    margin-right: 12px;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.categories-card-bottom h3 {
	font-weight: 600;
	margin-top: 4px;
}

.categories-card-bottom p {
	font-weight: 500;
	margin-top: 4px;
}

@media all and (max-width: 1024px) {

	.categories-card-container:nth-of-type(odd) { /*PAIR NUMBERS*/
		margin: 8px 8px 8px 0;
	}

	.categories-card-container:nth-of-type(even) {
		margin: 8px 0 8px 8px;
	}
}

@media all and (max-width: 755px) {
	.categories-card-container:nth-of-type(odd),
	.categories-card-container:nth-of-type(even) {
    	margin: 8px 0;
	}
}

@media all and (max-width: 540px) {
    .categories-card-container {
    }
}