@import '_vars';

.main-footer {
	color: white;
	padding: 160px;
	background-color: var(--main-bg-color);
}

.main-footer-container {
}

.main-footer-h3 {

}

.main-footer-p {

}

@media all and (max-width: 420px) {
	.main-footer {
		padding: 80px;
	}
}