@import '_vars';

html {
    height: 100%;
}

body {
    background-color: var(--gray);
    padding: 0;
    margin: 0;
    font-family: 'Dosis', sans-serif !important;
    height: 100%;
}

h1 {
    margin: 0;
    color: #333;
}

p {
    margin: 0;
    color: #333;
}

input {
    font-family: 'Dosis', sans-serif;
    font-size: 16px;
    background-color: var(--gray);
    color: #333;
}

button {
    font-family: 'Dosis', sans-serif !important;
    color: #333;
    cursor: pointer;
}