@import '_vars';

.singup-container {
	background: url(https://i.imgur.com/uV07DHu.png);
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	display: flex;
	justify-content: center;
	padding-top: 60px;
}

.singup {
	background: url(https://i.imgur.com/otvuWcz.png);
	background-size: cover;
	font-size: 12px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 400px;
	width: 580px;
	padding: 20px 32px;
	box-sizing: border-box;
}

.singup-header {
	text-align: right;
}

.singup-header h3 {
	color: var(--white);
	font-size: 20px;
	margin: 0;
}

.form-singup {
	display: flex;
	flex-direction: column;
	margin-top: -24px;
}

.form-singup-info {
	display: flex;
}

.form-singup-icon {
	display: flex;
    align-items: flex-end;
    font-size: 28px;
    margin-right: 8px;
}

.form-singup-icon svg {
    margin-top: -1px;
}

.form-singup-input {
	display: flex;
	flex-direction: column;
	width: 240px;
}

.form-singup-input label {
	width: 60px;
	cursor: pointer;
	padding: 0 0 0 4px;
}

.form-singup-input label:nth-child(1) {
	margin-top: 24px;
}

.form-singup-input input {
	font-size: 14px;
	border: none;
	border-bottom: 1px solid var(--black);
	background-color: transparent;
	padding: 4px 4px 4px 4px;
}

.form-singup-input input:focus {
	outline: none;
}

.singup-footer {
	display: flex;
    justify-content: flex-end;
    align-items: baseline;
}

.singup-footer div {
}

.singup-footer p {
	cursor: pointer;
	color: var(--black);
	font-size: 10px;
	margin-right: 20px;
}

.singup-footer button {
	cursor: pointer;
	background-color: var(--orange);
	color: var(--white);
	border: none;
	border-radius: 8px;
	padding: 8px 20px;
}