@import '_vars';

.singup-container {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--gray);
	height: 100vh;
	margin-top: -20px;
}

.singup-container input {
    font-family: 'Dosis', sans-serif;
}


.singup {
	height: 660px;
	width: 460px;
	font-size: 12px;
	padding: 20px 60px;
	background-color: var(--white);
	flex-direction: column;
	justify-content: space-between;
	box-sizing: border-box;
}

.singup-header {

}

.singup-header h3 {
	color: var(--orange);
	font-size: 20px;
	margin: 32px 0 24px;
}

.form-singup {

}

.form-singup-info {
	display: flex;
	margin: 16px 0;
}

.form-singup-icon {

}

.form-singup-input {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.form-singup-input label {
	cursor: pointer;
	color: rgba(0, 0, 0, .4);
	font-weight: 700;
	font-size: 12px;
	margin-bottom: 4px;
}

.form-singup-input input {
	font-size: 16px;
	border: none;
	background-color: var(--gray);
	padding: 8px;
}

.form-singup-input input:focus {
	outline: none;
}

.singup-footer {

}

.footer-options {
	display: flex;
	justify-content: space-between;
}

.footer-options a {
	text-decoration: none;
	color: var(--orange);
}

.remember-me {
	display: flex;
}

.remember-me input {
	display: flex;
	align-items: top;
	margin: 0 8px 0 0;
}

.remember-me label {
	cursor: pointer;
}

.singup-send-info {
	margin: 24px 0 32px 0;
}

.singup-send-info button {
	font-weight: 500;
	padding: 8px 0;
	width: 100%;
	border: none;
	background-color: var(--orange);
	color: var(--white);
}