.SuccessfullPurchase {
	min-height: 540px;
	max-height: 540px;
}

.SuccessfullPurchase-top {
	height: 160px;
	background-color: var(--orange);
	color: var(--white);
	display: flex;
	justify-content: center;
	align-items: center;
}

.SuccessfullPurchase-top p {
	text-align: left;
	width: 100%;
}

.SuccessfullPurchase-group {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 300px;
}

.SuccessfullPurchase-info {
	height: 80%;
}

.SuccessfullPurchase-info h4,
.SuccessfullPurchase-info p {
	margin: 0;
	padding: 0;
}

.SuccessfullPurchase-info p {
	font-size: 12px;
}

.SuccessfullPurchase-info h4 {
	font-size: 18px;
}

.SuccessfullPurchase-img {

}

.SuccessfullPurchase-img img {
	width: 80px;
	height: 80px;
	border-radius: 50%;
}

.SuccessfullPurchase-top h4 {
	width: 100%;
}

.SuccessfullPurchase-delivery {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.SuccessfullPurchase-delivery p {
	color: rgba(0, 0, 0, .4);
}

.SuccessfullPurchase-delivery h4 {
	padding: 0;
	margin: 0 0 8px 0;
}

.SuccessfullPurchase-type-delivery {
	display: flex;
	flex-direction: column;
	background-color: var(--white);
	border: 1px solid var(--dark-gray);
	height: 120px;
	width: 400px;
	padding: 40px;
	margin-top: -20px;
	box-sizing: border-box;
}

.SuccessfullPurchase-seller {
	background-color: var(--white);
	border: 1px solid var(--dark-gray);
	margin-top: 20px;
	width: 400px;
	height: 180px;
	padding: 40px;
	box-sizing: border-box;
}

.SuccessfullPurchase-seller button {
	background-color: transparent;
	color: var(--orange);
	border: none;
	padding: 0;
	margin-top: 32px;
}


.SuccessfullPurchase-details {
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
    width: 400px;
}

.SuccessfullPurchase-details button {
	border: none;
	color: var(--white);
	background-color: var(--orange);
	padding: 8px 12px;
}

@media all and (max-width: 425px) {
	.SuccessfullPurchase-type-delivery {
		padding: 20px 40px;
	}

	.SuccessfullPurchase-seller,
	.SuccessfullPurchase-type-delivery,
	.SuccessfullPurchase-details {
		width: 300px;
	}
}