.articles {
	box-sizing: border-box;
	margin: 20px 140px;
}

.articles .articles-h3 {
	font-size: 24px;
	margin: 16px 0;
}

.articles-cards-container {
    display: flex;
    justify-content: space-between;
	position: absolute;
    width: calc(100% - 280px);
    margin-top: 140px;
}

.articles-cards-container svg {
	height: 56px;
	width: 56px;
	border-radius: 50%;
	background-color: var(--white);
	cursor: pointer;
	transition: .2s background-color;
	transition: .2s color;
	z-index: 2023;
}

.articles-cards-container svg:nth-child(1) {
	margin-left: -16px;
}

.articles-cards-container svg:nth-child(2) {
	margin-right: -16px;
}

.articles-cards-container svg:hover {
	background-color: var(--orange);
	color: var(--white);
}

.articles-cards {
	display: flex;
	overflow-x: hidden;
	scroll-behavior: smooth;
	-webkit-overflow-scrolling: touch; /* Propiedad necesaria para el desplazamiento fluido en dispositivos móviles */
	scroll-snap-type: x mandatory; /* Habilita el deplazamiento de los puntos de interrupción en el eje X */
}

.articles-cards > :last-child .articles-card-container {
	margin-right: 0;
}

@media all and (max-width: 1024px) {
	.articles {
		margin: 20px 20px;
	}

	.articles-cards-container {
		width: calc(100% - 40px);
	}
}

@media all and (max-width: 768px) {
	.articles {
        padding: 0 12px;
	}
}

@media all and (max-width: 720px) {
	.articles {
		width: 100%;
        padding: 0 12px;
        box-sizing: border-box;
	}
	
	.articles-cards-container {
		display: none;
	}

	.articles-cards {
		overflow-x: scroll;
	}	
}

@media all and (max-width: 720px) {
	.articles {
		margin: 20px 0;
	}	
}