.categories-container {
    margin: 20px 140px;
}

.categories-h3 {
	font-size: 24px;
	margin: 16px 0;
}

.categories {
	display: grid;
	grid-template-columns: repeat(3, 33.3%);
    box-sizing: border-box;
}

@media all and (max-width: 1024px) {
    .categories-container {
        margin: 20px 12px;
    }

    .categories {
    	grid-template-columns: repeat(2, 1fr);
    }
}

@media all and (max-width: 755px) {
    .categories {
    	grid-template-columns: repeat(1, 1fr);
    }

    .categories-container {
        box-sizing: border-box;
    }

    .categories-container {
        margin: 20px 12px;
    }
}

@media all and (max-width: 425px) {
    .categories-container {
        margin: 20px 12px;
    }

    .categories {
    	box-sizing: border-box;
        width: 100%;
        align-items: center;
    }
}